<head>

  <!--- basic page needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- metas seo
  ================================================== -->
  <meta name="title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kidsnetwork.github.io/studymore/">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{{site.url}}/assets/images/banner.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://kidsnetwork.github.io/studymore/">
  <meta property="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="twitter:image" content="{{site.url}}/assets/images/banner.png">

  <!-- mobile specific metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS
  ================================================== -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{site.url}}/assets/fonts/icomoon/style.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/lightgallery.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="{{site.url}}/assets/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/swiper.min.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/aos.css">
  <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">

  <!-- favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{site.url}}/assets/siteicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{site.url}}/assets/siteicons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.url}}/assets/siteicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.url}}/assets/siteicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.url}}/assets/siteicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.url}}/assets/siteicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.url}}/assets/siteicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.url}}/assets/siteicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.url}}/assets/siteicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/assets/siteicons/apple-touch-icon-180x180.png">

</head>
