<div class="header__search">
    <br><br>
    <blockquote>
      <p>Information</p>
      <p style="max-width: 100vw; color: #b6a644;">Lorsqu'il est impossible de maintenir une distance suffisante avec les autres, portez un masque pour vous couvrir la bouche et le nez. Ces consignes proviennent de l'Organisation mondiale de la Santé (OMS).</p>
    </blockquote>

    <a href="#information" title="Fermer la section information" class="header__search-close">Fermer</a>

</div>  <!-- end header__search -->

<!-- toggles -->
<a href="#0" class="header__search-trigger" style="color: #000;"></a>
